* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #333;
  height: 100%;
  width: 100%;
}

.parent-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.board-title {
  color: #333;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: #82828250;
  height: 80vh;
  width: 30vw;
  margin: 0.5em;
  border-radius: 10px;
  overflow: scroll;
}

.active-column {
  background-color: #828282;
  height: 80vh;
  width: 30vw;
}

.task-card {
  font-size: 2rem;
  background-color: #d6d6d6;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #828282;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.time {
  font-size: 0.4em;
}

.drop {
  margin-top: 1px;
  height: 1px;
  width: auto;
  background-color: violet;
  opacity: 0;
}

.active-drop {
  margin-top: 1px;
  height: 1px;
  width: auto;
  background-color: violet;
  opacity: 1;
}

.delete {
  background-color: #828282;
  height: 2em;
  width: 5em;
  border: 3px solid rgb(144, 144, 144);
}

.active-delete {
  background-color: red;
  opacity: 50;
  height: 2em;
  width: 5em;
  border: 3px solid red;
}

/* MODAL */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.close {
  align-self: flex-end;
  top: 8px;
  right: 8px;
}

/* EDIT IN MODAL */

.edit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 350px;
}

.edit-card label {
  font-family: sans-serif;
  font-size: 2em;
  margin: 0 5em;
}

.edit-card textarea {
  font-family: "Open Sans", sans-serif;
  min-width: 300px;
  min-height: 200px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  margin: 0em 5em;
}

.edit-card textarea {
  height: 100px;
}

.submit {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5em;
}
